{% extends "base.html" %}

{% block title %}
  Home
{% endblock title %}

{% block content %}

  <div class="row text-center">
    <div class="column">
      <h1>Welcome to  TweetMe</h1>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
      <form class="form" action="{% url 'create-tweet' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="/" name="next"/>
        <textarea name="content" class="form-control" placeholder="Your Tweet..."></textarea>
        <button type="submit" class="btn btn-primary mt-2">Tweet</button>
      </form>
    </div>
  </div>

      <div id="tweets" class="row">
        Replace Me
      </div>

<script>

    const tweetElement = document.getElementById("tweets")  // how to get html element
    // tweetElement.innerHTML = "Loading...."  how to change the content or inner html values
    // var el1 = "<h1>Hi There 1</h1>"
    // var el2 = "<h1>Hi There 2</h1>"
    // var el3 = "<h1>Hi There 3</h1>"
    // tweetElement.innerHTML = el1 + el2 + el3    

    const xhr = new XMLHttpRequest() // xhr = SomeClass()
    const method = 'GET'
    const url = "/tweets"
    const responseType = "json"
    
    // Like button function to handle event 
    function handleDidLike(tweet_id, currentCount){
      console.log(tweet_id, currentCount)
    }
    
    // like button return 
    function LikeBtn(tweet){
      return "<button class='btn btn-primary btn-small' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }

    function formatTweetElement(tweet)
    {
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto mb-2 border border-dark rounded py-3' id='tweet-" + tweet.id + 
        "' ><h3>" + tweet.content + "</h3><br>"+  LikeBtn(tweet) + "</div>"
        return formattedTweet
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        var finalTweetStr = ""
        for (var i = 0; i < listedItems.length; i++){
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetElement.innerHTML = finalTweetStr
    }
    xhr.send()

</script>

{% endblock content %}